body{
  text-align: center;
  color: black;
  vertical-align: middle;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1{
  margin-top: 50px;
}

.container{
	font-size: 20px;
}

#resultSearch{
  text-align: left;
  color: black;

}

#randomArticleBtn{
  margin-bottom: 10px;
}